*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.CRUD{
    width: 80%;
    margin: auto;
}
.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: #111;
    color: #fff;
    margin: 5px;
    border-radius: 5%;
    padding: 5px;
    color: #fff;
}
input:focus{
    background-color: #000;
    cursor: pointer;
    transform: scale(1.1);
}
.pric input{
    width: 20%;
}
#total{
    background-color: rgb(172, 4, 4);
    padding: 5px 3px;
    border-radius: 5px;
}
#total::before{
    content: 'Total :';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #681588;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}
button:hover{
    background-color: #7e25a1;
    letter-spacing: 1px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}.btnsearch button{
    width: 45%;
}
#DeleAll{
    margin: 10px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;

}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
